/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
html,
body {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;


    /* bgc */
    .bg-main {
        background-color: #ececec;
    }

    /* card*/
    .card {
        background-color: #ffffff;
        border-radius: 16px !important;
    }

    .shadow-1 {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    }

    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity))
    }
}

.v-list-item--active {
    background-color: #fcffff;
    /* 選中項的背景顏色 */
    color: #000000;
    /* 選中項的文字顏色 */
}